<form [formGroup]="angForm" >

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign up</h3>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" formControlName="name">
        </div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
            Email is required 
          </div>
          Enter valid email
        </div>
        <div class="input-group mb-4">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['password'].errors.required">
            Password is required 
          </div>
          minnimum 6 character
        </div>
        <div class="form-group text-left">
          <div class="checkbox checkbox-fill d-inline">
            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-1" checked="">
            <label for="checkbox-fill-1" class="cr"> Save Details</label>
          </div>
        </div>
        <div class="form-group text-left">
          <div class="checkbox checkbox-fill d-inline">
            <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
            <label for="checkbox-fill-2" class="cr">Send me the <a href="javascript:"> Newsletter</a> weekly.</label>
          </div>
        </div>
        
        <button class="btn btn-primary shadow-2 mb-4" (click)="onSubmit(angForm.value); " type="submit" [disabled]="!angForm.valid" >Sign up</button>
        <p class="mb-0 text-muted">Already have an account? <a [routerLink]="['/auth/signin']"> Log in</a></p>
      </div>
    </div>
  </div>
</div>
</form>



<!-- <div class="form-group">
  <label>Email</label>
  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  </div>
</div> -->